@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #111;
}

*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
